@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: var(--black);

    font-weight: bold;
    margin-bottom: 3rem;

}

.heading span{
    color: var(--primary);

}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    border-radius: 10rem;
    font-size: 1.7rem;
    color: #e8e2e2;
    cursor: pointer;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--primary);
    padding-right: .5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
}


.header .icons div:hover{
    color: white;
}

#menu-bar{
    display: none;
}
a{
    text-decoration: none;
}
.header .icons button:hover{
    color: white;
}
.icons {
    display: flex;
    align-items: center;
}
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    max-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}



